/* Base Stylings like ul, p, body, etc */

/* Body & Html */
body, html{
	@include font-size(16px);
	font-family: $lato;
	-webkit-overflow-scrolling: touch;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;	
	margin: 0;
	padding: 0;
}

button {
	font-family: $lato;
}